/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  border: 2px solid #bababa;
}

button:hover, button[data-type='number']:hover {
  cursor: pointer;
  background-color: #c8cfd4;
  border-color: #929aa0;
}

.container {
  width: 50%;
  margin: 2em auto;
}

.calculator {
  background-color: #bababa;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #bababa;
  padding: .25em;
}

.calculator > .row {
  flex: 0 1 100%;
}

.calculator > .display {
  display: flex;
  flex-flow: row nowrap;
  font-size: 2.8em;
}

.calculator > .display > .number {
  flex: 1 1 100%;
  justify-content: flex-end;
  text-align: right;
  padding: .5em 0.25em;
}

.calculator > .keypad {
  display: flex;
  flex-flow: column nowrap;
}

.calculator > .keypad > .row {
  display: flex;
  flex-flow: row nowrap;
}

.calculator > .keypad > .row > button {
  flex: 1 1 25%;
  height: 4em;
  font-size: 1.25em;
  margin-right: .25%;
  margin-bottom: .25%;
}

.calculator > .keypad > .row > button:last-child {
  margin-right: 0;
}

.calculator > .keypad > .row:last-child button {
  margin-bottom: 0;
}

button[data-type='number'] {
  background-color: #fff;
  font-weight: bold;
}
